.Landing-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: black;
  margin-top: 3%;
}

.Signup-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Signup-main-container iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  min-height: 600px;
}

.cta-button-row {
  margin: 5%;
}
