.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.Merchant-card {
  padding: 1em;
  position: relative;
  margin: 1rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 5px;
}

.Merchant-logo {
  /* height: 100px; */
  /* width: 100px; */
  height: 100px;
  margin: auto;
  margin-top: 10%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    width: 300px;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.payment-form {
  width: 35%;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
